<!-- <app-shopping-cart></app-shopping-cart> -->

<!-- <div #divelement>hello daisyyyy</div>
<button (click)="changeColor()">click me</button> -->

<!-- <button (click)=" increaseButtons()">click me to get more buttons</button>

<div *ngFor="let b1 of storingButton">
  <button>{{b1}}</button>
</div> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<mat-toolbar color="primary">
  
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div id="google_translate_element"></div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


